@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Sil</th>
        <th>Kategori Güncelle</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.CategoryID
            </td>
            <td>
                @k.CategoryName
            </td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<button class="btn btn-primary">Yeni Kategori</button>
